/* W3.CSS 4.12 November 2018 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.fajar-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.fajar-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.fajar-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.fajar-table,.fajar-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.fajar-table-all{border:1px solid #ccc}
.fajar-bordered tr,.fajar-table-all tr{border-bottom:1px solid #ddd}.fajar-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.fajar-table-all tr:nth-child(odd){background-color:#fff}.fajar-table-all tr:nth-child(even){background-color:#f1f1f1}
.fajar-hoverable tbody tr:hover,.fajar-ul.fajar-hoverable li:hover{background-color:#ccc}.fajar-centered tr th,.fajar-centered tr td{text-align:center}
.fajar-table td,.fajar-table th,.fajar-table-all td,.fajar-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.fajar-table th:first-child,.fajar-table td:first-child,.fajar-table-all th:first-child,.fajar-table-all td:first-child{padding-left:16px}
.fajar-btn,.fajar-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.fajar-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.fajar-btn,.fajar-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.fajar-disabled,.fajar-btn:disabled,.fajar-button:disabled{cursor:not-allowed;opacity:0.3}.fajar-disabled *,:disabled *{pointer-events:none}
.fajar-btn.fajar-disabled:hover,.fajar-btn:disabled:hover{box-shadow:none}
.fajar-badge,.fajar-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.fajar-badge{border-radius:50%}
.fajar-ul{list-style-type:none;padding:0;margin:0}.fajar-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.fajar-ul li:last-child{border-bottom:none}
.fajar-tooltip,.fajar-display-container{position:relative}.fajar-tooltip .fajar-text{display:none}.fajar-tooltip:hover .fajar-text{display:inline-block}
.fajar-ripple:active{opacity:0.5}.fajar-ripple{transition:opacity 0s}
.fajar-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.fajar-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.fajar-dropdown-click,.fajar-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.fajar-dropdown-hover:hover .fajar-dropdown-content{display:block}
.fajar-dropdown-hover:first-child,.fajar-dropdown-click:hover{background-color:#ccc;color:#000}
.fajar-dropdown-hover:hover > .fajar-button:first-child,.fajar-dropdown-click:hover > .fajar-button:first-child{background-color:#ccc;color:#000}
.fajar-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.fajar-check,.fajar-radio{width:24px;height:24px;position:relative;top:6px}
.fajar-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.fajar-bar-block .fajar-dropdown-hover,.fajar-bar-block .fajar-dropdown-click{width:100%}
.fajar-bar-block .fajar-dropdown-hover .fajar-dropdown-content,.fajar-bar-block .fajar-dropdown-click .fajar-dropdown-content{min-width:100%}
.fajar-bar-block .fajar-dropdown-hover .fajar-button,.fajar-bar-block .fajar-dropdown-click .fajar-button{width:100%;text-align:left;padding:8px 16px}
.fajar-main,#main{transition:margin-left .4s}
.fajar-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.fajar-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.fajar-bar{width:100%;overflow:hidden}.fajar-center .fajar-bar{display:inline-block;width:auto}
.fajar-bar .fajar-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.fajar-bar .fajar-dropdown-hover,.fajar-bar .fajar-dropdown-click{position:static;float:left}
.fajar-bar .fajar-button{white-space:normal}
.fajar-bar-block .fajar-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.fajar-bar-block.fajar-center .fajar-bar-item{text-align:center}.fajar-block{display:block;width:100%}
.fajar-responsive{display:block;overflow-x:auto}
.fajar-container:after,.fajar-container:before,.fajar-panel:after,.fajar-panel:before,.fajar-row:after,.fajar-row:before,.fajar-row-padding:after,.fajar-row-padding:before,
.fajar-cell-row:before,.fajar-cell-row:after,.fajar-clear:after,.fajar-clear:before,.fajar-bar:before,.fajar-bar:after{content:"";display:table;clear:both}
.fajar-col,.fajar-half,.fajar-third,.fajar-twothird,.fajar-threequarter,.fajar-quarter{float:left;width:100%}
.fajar-col.s1{width:8.33333%}.fajar-col.s2{width:16.66666%}.fajar-col.s3{width:24.99999%}.fajar-col.s4{width:33.33333%}
.fajar-col.s5{width:41.66666%}.fajar-col.s6{width:49.99999%}.fajar-col.s7{width:58.33333%}.fajar-col.s8{width:66.66666%}
.fajar-col.s9{width:74.99999%}.fajar-col.s10{width:83.33333%}.fajar-col.s11{width:91.66666%}.fajar-col.s12{width:99.99999%}
@media (min-width:601px){.fajar-col.m1{width:8.33333%}.fajar-col.m2{width:16.66666%}.fajar-col.m3,.fajar-quarter{width:24.99999%}.fajar-col.m4,.fajar-third{width:33.33333%}
.fajar-col.m5{width:41.66666%}.fajar-col.m6,.fajar-half{width:49.99999%}.fajar-col.m7{width:58.33333%}.fajar-col.m8,.fajar-twothird{width:66.66666%}
.fajar-col.m9,.fajar-threequarter{width:74.99999%}.fajar-col.m10{width:83.33333%}.fajar-col.m11{width:91.66666%}.fajar-col.m12{width:99.99999%}}
@media (min-width:993px){.fajar-col.l1{width:8.33333%}.fajar-col.l2{width:16.66666%}.fajar-col.l3{width:24.99999%}.fajar-col.l4{width:33.33333%}
.fajar-col.l5{width:41.66666%}.fajar-col.l6{width:49.99999%}.fajar-col.l7{width:58.33333%}.fajar-col.l8{width:66.66666%}
.fajar-col.l9{width:74.99999%}.fajar-col.l10{width:83.33333%}.fajar-col.l11{width:91.66666%}.fajar-col.l12{width:99.99999%}}
.fajar-rest{overflow:hidden}.fajar-stretch{margin-left:-16px;margin-right:-16px}
.fajar-content,.fajar-auto{margin-left:auto;margin-right:auto}.fajar-content{max-width:980px}.fajar-auto{max-width:1140px}
.fajar-cell-row{display:table;width:100%}.fajar-cell{display:table-cell}
.fajar-cell-top{vertical-align:top}.fajar-cell-middle{vertical-align:middle}.fajar-cell-bottom{vertical-align:bottom}
.fajar-hide{display:none!important}.fajar-show-block,.fajar-show{display:block!important}.fajar-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.fajar-auto{max-width:95%}}
@media (max-width:600px){.fajar-modal-content{margin:0 10px;width:auto!important}.fajar-modal{padding-top:30px}
.fajar-dropdown-hover.fajar-mobile .fajar-dropdown-content,.fajar-dropdown-click.fajar-mobile .fajar-dropdown-content{position:relative}	
.fajar-hide-small{display:none!important}.fajar-mobile{display:block;width:100%!important}.fajar-bar-item.fajar-mobile,.fajar-dropdown-hover.fajar-mobile,.fajar-dropdown-click.fajar-mobile{text-align:center}
.fajar-dropdown-hover.fajar-mobile,.fajar-dropdown-hover.fajar-mobile .fajar-btn,.fajar-dropdown-hover.fajar-mobile .fajar-button,.fajar-dropdown-click.fajar-mobile,.fajar-dropdown-click.fajar-mobile .fajar-btn,.fajar-dropdown-click.fajar-mobile .fajar-button{width:100%}}
@media (max-width:768px){.fajar-modal-content{width:500px}.fajar-modal{padding-top:50px}}
@media (min-width:993px){.fajar-modal-content{width:900px}.fajar-hide-large{display:none!important}.fajar-sidebar.fajar-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.fajar-hide-medium{display:none!important}}
@media (max-width:992px){.fajar-sidebar.fajar-collapse{display:none}.fajar-main{margin-left:0!important;margin-right:0!important}.fajar-auto{max-width:100%}}
.fajar-top,.fajar-bottom{position:fixed;width:100%;z-index:1}.fajar-top{top:0}.fajar-bottom{bottom:0}
.fajar-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.fajar-display-topleft{position:absolute;left:0;top:0}.fajar-display-topright{position:absolute;right:0;top:0}
.fajar-display-bottomleft{position:absolute;left:0;bottom:0}.fajar-display-bottomright{position:absolute;right:0;bottom:0}
.fajar-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.fajar-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.fajar-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.fajar-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.fajar-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.fajar-display-container:hover .fajar-display-hover{display:block}.fajar-display-container:hover span.fajar-display-hover{display:inline-block}.fajar-display-hover{display:none}
.fajar-display-position{position:absolute}
.fajar-circle{border-radius:50%}
.fajar-round-small{border-radius:2px}.fajar-round,.fajar-round-medium{border-radius:4px}.fajar-round-large{border-radius:8px}.fajar-round-xlarge{border-radius:16px}.fajar-round-xxlarge{border-radius:32px}
.fajar-row-padding,.fajar-row-padding>.fajar-half,.fajar-row-padding>.fajar-third,.fajar-row-padding>.fajar-twothird,.fajar-row-padding>.fajar-threequarter,.fajar-row-padding>.fajar-quarter,.fajar-row-padding>.fajar-col{padding:0 8px}
.fajar-container,.fajar-panel{padding:0.01em 16px}.fajar-panel{margin-top:16px;margin-bottom:16px}
.fajar-code,.fajar-codespan{font-family:Consolas,"courier new";font-size:16px}
.fajar-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.fajar-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.fajar-card,.fajar-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.fajar-card-4,.fajar-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.fajar-spin{animation:fajar-spin 2s infinite linear}@keyframes fajar-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.fajar-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.fajar-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.fajar-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.fajar-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.fajar-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.fajar-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.fajar-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.fajar-animate-input{transition:width 0.4s ease-in-out}.fajar-animate-input:focus{width:100%!important}
.fajar-opacity,.fajar-hover-opacity:hover{opacity:0.60}.fajar-opacity-off,.fajar-hover-opacity-off:hover{opacity:1}
.fajar-opacity-max{opacity:0.25}.fajar-opacity-min{opacity:0.75}
.fajar-greyscale-max,.fajar-grayscale-max,.fajar-hover-greyscale:hover,.fajar-hover-grayscale:hover{filter:grayscale(100%)}
.fajar-greyscale,.fajar-grayscale{filter:grayscale(75%)}.fajar-greyscale-min,.fajar-grayscale-min{filter:grayscale(50%)}
.fajar-sepia{filter:sepia(75%)}.fajar-sepia-max,.fajar-hover-sepia:hover{filter:sepia(100%)}.fajar-sepia-min{filter:sepia(50%)}
.fajar-tiny{font-size:10px!important}.fajar-small{font-size:12px!important}.fajar-medium{font-size:15px!important}.fajar-large{font-size:18px!important}
.fajar-xlarge{font-size:24px!important}.fajar-xxlarge{font-size:36px!important}.fajar-xxxlarge{font-size:48px!important}.fajar-jumbo{font-size:64px!important}
.fajar-left-align{text-align:left!important}.fajar-right-align{text-align:right!important}.fajar-justify{text-align:justify!important}.fajar-center{text-align:center!important}
.fajar-border-0{border:0!important}.fajar-border{border:1px solid #ccc!important}
.fajar-border-top{border-top:1px solid #ccc!important}.fajar-border-bottom{border-bottom:1px solid #ccc!important}
.fajar-border-left{border-left:1px solid #ccc!important}.fajar-border-right{border-right:1px solid #ccc!important}
.fajar-topbar{border-top:6px solid #ccc!important}.fajar-bottombar{border-bottom:6px solid #ccc!important}
.fajar-leftbar{border-left:6px solid #ccc!important}.fajar-rightbar{border-right:6px solid #ccc!important}
.fajar-section,.fajar-code{margin-top:16px!important;margin-bottom:16px!important}
.fajar-margin{margin:16px!important}.fajar-margin-top{margin-top:16px!important}.fajar-margin-bottom{margin-bottom:16px!important}
.fajar-margin-left{margin-left:16px!important}.fajar-margin-right{margin-right:16px!important}
.fajar-padding-small{padding:4px 8px!important}.fajar-padding{padding:8px 16px!important}.fajar-padding-large{padding:12px 24px!important}
.fajar-padding-16{padding-top:16px!important;padding-bottom:16px!important}.fajar-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.fajar-padding-32{padding-top:32px!important;padding-bottom:32px!important}.fajar-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.fajar-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.fajar-left{float:left!important}.fajar-right{float:right!important}
.fajar-button:hover{color:#000!important;background-color:#ccc!important}
.fajar-transparent,.fajar-hover-none:hover{background-color:transparent!important}
.fajar-hover-none:hover{box-shadow:none!important}
/* Colors */
.fajar-amber,.fajar-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.fajar-aqua,.fajar-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.fajar-blue,.fajar-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.fajar-light-blue,.fajar-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.fajar-brown,.fajar-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.fajar-cyan,.fajar-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.fajar-blue-grey,.fajar-hover-blue-grey:hover,.fajar-blue-gray,.fajar-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.fajar-green,.fajar-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.fajar-light-green,.fajar-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.fajar-indigo,.fajar-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.fajar-khaki,.fajar-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.fajar-lime,.fajar-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.fajar-orange,.fajar-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.fajar-deep-orange,.fajar-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.fajar-pink,.fajar-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.fajar-purple,.fajar-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.fajar-deep-purple,.fajar-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.fajar-red,.fajar-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.fajar-sand,.fajar-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.fajar-teal,.fajar-hover-teal:hover{color:#fff!important;background-color:cadetblue!important}
.fajar-yellow,.fajar-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.fajar-white,.fajar-hover-white:hover{color:#000!important;background-color:#fff!important}
.fajar-black,.fajar-hover-black:hover{color:#fff!important;background-color:#000!important}
.fajar-grey,.fajar-hover-grey:hover,.fajar-gray,.fajar-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.fajar-light-grey,.fajar-hover-light-grey:hover,.fajar-light-gray,.fajar-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.fajar-dark-grey,.fajar-hover-dark-grey:hover,.fajar-dark-gray,.fajar-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.fajar-pale-red,.fajar-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.fajar-pale-green,.fajar-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.fajar-pale-yellow,.fajar-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.fajar-pale-blue,.fajar-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.fajar-text-amber,.fajar-hover-text-amber:hover{color:#ffc107!important}
.fajar-text-aqua,.fajar-hover-text-aqua:hover{color:#00ffff!important}
.fajar-text-blue,.fajar-hover-text-blue:hover{color:#2196F3!important}
.fajar-text-light-blue,.fajar-hover-text-light-blue:hover{color:#87CEEB!important}
.fajar-text-brown,.fajar-hover-text-brown:hover{color:#795548!important}
.fajar-text-cyan,.fajar-hover-text-cyan:hover{color:#00bcd4!important}
.fajar-text-blue-grey,.fajar-hover-text-blue-grey:hover,.fajar-text-blue-gray,.fajar-hover-text-blue-gray:hover{color:#607d8b!important}
.fajar-text-green,.fajar-hover-text-green:hover{color:#4CAF50!important}
.fajar-text-light-green,.fajar-hover-text-light-green:hover{color:#8bc34a!important}
.fajar-text-indigo,.fajar-hover-text-indigo:hover{color:#3f51b5!important}
.fajar-text-khaki,.fajar-hover-text-khaki:hover{color:#b4aa50!important}
.fajar-text-lime,.fajar-hover-text-lime:hover{color:#cddc39!important}
.fajar-text-orange,.fajar-hover-text-orange:hover{color:#ff9800!important}
.fajar-text-deep-orange,.fajar-hover-text-deep-orange:hover{color:#ff5722!important}
.fajar-text-pink,.fajar-hover-text-pink:hover{color:#e91e63!important}
.fajar-text-purple,.fajar-hover-text-purple:hover{color:#9c27b0!important}
.fajar-text-deep-purple,.fajar-hover-text-deep-purple:hover{color:#673ab7!important}
.fajar-text-red,.fajar-hover-text-red:hover{color:#f44336!important}
.fajar-text-sand,.fajar-hover-text-sand:hover{color:#fdf5e6!important}
.fajar-text-teal,.fajar-hover-text-teal:hover{color:#009688!important}
.fajar-text-yellow,.fajar-hover-text-yellow:hover{color:#d2be0e!important}
.fajar-text-white,.fajar-hover-text-white:hover{color:#fff!important}
.fajar-text-black,.fajar-hover-text-black:hover{color:#000!important}
.fajar-text-grey,.fajar-hover-text-grey:hover,.fajar-text-gray,.fajar-hover-text-gray:hover{color:#757575!important}
.fajar-text-light-grey,.fajar-hover-text-light-grey:hover,.fajar-text-light-gray,.fajar-hover-text-light-gray:hover{color:#f1f1f1!important}
.fajar-text-dark-grey,.fajar-hover-text-dark-grey:hover,.fajar-text-dark-gray,.fajar-hover-text-dark-gray:hover{color:#3a3a3a!important}
.fajar-border-amber,.fajar-hover-border-amber:hover{border-color:#ffc107!important}
.fajar-border-aqua,.fajar-hover-border-aqua:hover{border-color:#00ffff!important}
.fajar-border-blue,.fajar-hover-border-blue:hover{border-color:#2196F3!important}
.fajar-border-light-blue,.fajar-hover-border-light-blue:hover{border-color:#87CEEB!important}
.fajar-border-brown,.fajar-hover-border-brown:hover{border-color:#795548!important}
.fajar-border-cyan,.fajar-hover-border-cyan:hover{border-color:#00bcd4!important}
.fajar-border-blue-grey,.fajar-hover-border-blue-grey:hover,.fajar-border-blue-gray,.fajar-hover-border-blue-gray:hover{border-color:#607d8b!important}
.fajar-border-green,.fajar-hover-border-green:hover{border-color:#4CAF50!important}
.fajar-border-light-green,.fajar-hover-border-light-green:hover{border-color:#8bc34a!important}
.fajar-border-indigo,.fajar-hover-border-indigo:hover{border-color:#3f51b5!important}
.fajar-border-khaki,.fajar-hover-border-khaki:hover{border-color:#f0e68c!important}
.fajar-border-lime,.fajar-hover-border-lime:hover{border-color:#cddc39!important}
.fajar-border-orange,.fajar-hover-border-orange:hover{border-color:#ff9800!important}
.fajar-border-deep-orange,.fajar-hover-border-deep-orange:hover{border-color:#ff5722!important}
.fajar-border-pink,.fajar-hover-border-pink:hover{border-color:#e91e63!important}
.fajar-border-purple,.fajar-hover-border-purple:hover{border-color:#9c27b0!important}
.fajar-border-deep-purple,.fajar-hover-border-deep-purple:hover{border-color:#673ab7!important}
.fajar-border-red,.fajar-hover-border-red:hover{border-color:#f44336!important}
.fajar-border-sand,.fajar-hover-border-sand:hover{border-color:#fdf5e6!important}
.fajar-border-teal,.fajar-hover-border-teal:hover{border-color:#009688!important}
.fajar-border-yellow,.fajar-hover-border-yellow:hover{border-color:#ffeb3b!important}
.fajar-border-white,.fajar-hover-border-white:hover{border-color:#fff!important}
.fajar-border-black,.fajar-hover-border-black:hover{border-color:#000!important}
.fajar-border-grey,.fajar-hover-border-grey:hover,.fajar-border-gray,.fajar-hover-border-gray:hover{border-color:#9e9e9e!important}
.fajar-border-light-grey,.fajar-hover-border-light-grey:hover,.fajar-border-light-gray,.fajar-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.fajar-border-dark-grey,.fajar-hover-border-dark-grey:hover,.fajar-border-dark-gray,.fajar-hover-border-dark-gray:hover{border-color:#616161!important}
.fajar-border-pale-red,.fajar-hover-border-pale-red:hover{border-color:#ffe7e7!important}.fajar-border-pale-green,.fajar-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.fajar-border-pale-yellow,.fajar-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.fajar-border-pale-blue,.fajar-hover-border-pale-blue:hover{border-color:#e7ffff!important}